<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
dao层接口的全限定名和namespace一样
dao层接口中的方法名和映射文件中增删改查配置的statement id一致
方法的参数和配置的输入参数保持一致
方法的返回值类型和配置中返回类型保持一致
 -->
<mapper namespace="com.mars.elleshop.dao.UserDao">

<!--    <resultMap id="goodsTypeMap" type="goodsType">-->
<!--        <id property="goodsTypeId" column="goods_type_id"/>-->
<!--        <result property="goodsId" column="goods_id"/>-->
<!--        <result property="sizeId" column="size_id"/>-->
<!--        <result property="colorId" column="color_id"/>-->
<!--        <result property="price" column="price"/>-->
<!--        <result property="photoUrl" column="photo_url"/>-->
<!--        <association property="goods" javaType="goods">-->
<!--            <id property="goodsId" column="goods_id"/>-->
<!--            <result property="goodsName" column="goodsName"/>-->
<!--            <result property="brandId" column="brand_id"/>-->
<!--            <result property="styleId" column="style_id"/>-->
<!--            <result property="areaId" column="area_id"/>-->
<!--            <result column="video_url" property="videoUrl"/>-->
<!--            <result property="goodsMsg" column="goods_msg"/>-->
<!--        </association>-->
<!--    </resultMap>-->
<!--    <select id="findGoodTypeById" resultMap="goodsTypeMap">-->
<!--        select * from-->
<!--    </select>-->
</mapper>
